<ul class="nav nav-pills">
    <li class="nav-item" *ngIf = "user.role == '1'">
      <a class="nav-link" href="/admin">Admin</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/register">Register</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/login">Logout</a>
    </li>
</ul>

<div *ngIf="errorMsg != ''" class="alert alert-danger" role="alert">
    {{errorMsg}}
  </div>
<h3>User Detail Screen</h3>
<div class="container">
    <div class="row">
        <div class="col-md-2">
          <label for="input-user-real-name">Name:</label>
        </div>
        <div class="col-md-6">
            <input type="text" [(ngModel)]="user.realName" class="form-control" id="input-user-real-name" placeholder="Name"/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
          <label for="input-user-email">Email:</label>
        </div>
        <div class="col-md-6">
            <input type="text" [(ngModel)]="user.email" class="form-control" id="input-user-email" placeholder="Email"/>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
          <label for="input-user-login-name">Username:</label>
        </div>
        <div class="col-md-6">
            <input type="text" readonly [(ngModel)]="user.loginName" class="form-control" id="input-user-login-name" placeholder="Login Name"/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
          <label for="input-user-login-pwd">Password:</label>
        </div>
        <div class="col-md-6">
            <input type="password" [(ngModel)]="user.password" class="form-control" id="input-user-login-pwd" placeholder="Password"/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
          <label for="input-user-login-re-pwd">Re-Enter Password:</label>
        </div>
        <div class="col-md-6">
            <input type="password" [(ngModel)]="rePwd"class="form-control" id="input-user-login-re-pwd" placeholder="Re-Enter Password"/>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2 col-md-offset-3">
          <button type="button" class="btn btn-primary" id ="btn-user-register" (click)="userUpdate()">Update</button>
        </div>
    </div>
</div>
